REDIS_URL=redis://redis:6379/0
WEAVIATE_URL="rvp4vsktgbo3jrln7dag.c0.us-west3.gcp.weaviate.cloud"
GEMINI_API_KEY="AIzaSyDmy0ojdgJKnnGT6hQhgyzuKwf-e7Kq3ds"
EXPRESS_API_URL=http://host.docker.internal:3000
